 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree" style="font-size: 22px">BS in Computer Engineering</h4>
    <h5 class="meta" style="font-size: 22px" style="padding-bottom: 2px">The University of Texas at Austin</h5>
    <div class="time" style="font-size: 22px" style="padding-bottom: 2px">2015 - 2018</div>
    <div class="time" style="font-size: 22px" style="padding-bottom: 2px">Major GPA: 3.5</div>
</div><!--//item-->
</div><!--//education-container-->