 <div class="education-container container-block">
<h2 class="container-block-title" style="text-align: center">Education</h2>
<div class="item">
    <h4 class="degree" style="text-align: center">BS in Computer Engineering</h4>
    <h5 class="meta" style="text-align: center">The University of Texas at</h5>
    <h5 class="meta" style="text-align: center">Austin</h5>
    <div class="time" style="text-align: center">2015 - 2018</div>
    <div class="time" style="text-align: center">Major GPA: 3.5</div>
</div><!--//item-->
</div><!--//education-container-->