<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineering Intern</h3>
                            <div class="time">May 2017 - Aug 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon.com | Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>TBD</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item" style="margin-bottom: 10px">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Post Silicon Validation Intern</h3>
                            <div class="time">Oct 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Intel Corporation | Austin, TX</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Develop Python scripts to automate web scraping of HTML/XML-like test logs, in addition to saving the data into easily traversable spreadsheets with external API's</li>
                            <li>Optimize script run-time efficiency when possible, significantly reducing time costs for validation team</li>
                            <li>Record documentation and guidelines</li>
                        </ul>              
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->