<section class="section projects-section" style="margin-bottom: 25px !important">
                <h2 class="section-title" style="margin-bottom: 5px !important"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <span class="project-title"><a href="https://github.com/JulianDomingo/TipCalculator">Tip Calculator</a></span>
                    <ul>
                        <li>
                            Designed and implemented responsive web application form, which calculated tip amount given the choice to split payment and contained invalid input handling and predefined and custom tip percentages
                        </li>
                        <li>Written using PHP for form processing and JQuery for error popups</li>
                    </ul>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/KaTaiHo/ChatRoom/tree/master/project7group/src/assignment7" target="_blank">Chat Client</a></span>
                    <ul>
                        <li>With a partner, developed a chat client in Java with socket programming using observer design pattern</li>
                        <li>User could communicate with other users from different machines, privately message users, send emojis, login with a unique username, logout from the server, and see who is online real-time</li>
                        <li>UI written in JavaFX</li>
                    </ul>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/JulianDomingo/EE319K/blob/master/isaac.c" target="_blank">Embedded System Game</a></span>
                    <ul>
                        <li>With a partner, designed from the ground up a "dungeon crawler" game in C through microcontroller winning third place in a class of 50+ teams</li>
                        <li>Implemented finite state machine for the player to change rooms, ordered interrupts by priority to have sound in background, and utilized double buffering to improve rendering quality</li>
                    </ul>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/JulianDomingo/EE312/tree/master/Project8" target="_blank">Blip Language and Parser</a></span>
                    <ul>
                        <li>
                            Created programming language in C++ that parsed input from text file and handled integer instantiation and computation, output to console, conditionals, and while loops
                        </li>
                    </ul>
                </div><!--//item-->
            </section><!--//section-->