<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                        <h5>Languages: </h5>Java, C/C++, Python, Assembly (ARM Architecture), PHP
                    </div><!--//item-->

                    <div class="item">
                        <h5>Web Development: </h5>HTML, CSS, JavaScript                         
                    </div><!--//item-->

                    <div class="item">
                        <h5>Tools / Resources: </h5>Bootstrap, Linux Commands, LabVIEW, Voltmeter, Oscilloscope, Soldering, Circuit Building &amp; Analysis                                
                    </div><!--//item-->                    
                </div>  
            </section><!--//skills-section-->