<section class="skills-section section" style="margin-bottom: 15px !important">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>   
                <div>
                    <h5 style="display: inline">Languages: </h5>Java, C/C++, Python, Assembly (ARM Architecture), PHP
                </div><!--//item-->

                <div>
                    <h5 style="display: inline">Web Development: </h5>HTML, CSS, JavaScript                         
                </div><!--//item-->

                <div>
                    <h5 style="display: inline">Tools / Resources: </h5>Bootstrap, Linux Commands, LabVIEW, Voltmeter, Oscilloscope, Soldering, Circuit Building &amp; Analysis                                
                </div><!--//item-->                    
            </section><!--//skills-section-->