<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                        <div><div style="font-size: 14px" style="font: bold">Language: </div>Java, C/C++, Python, Assembly (ARM Architecture), PHP</div>
                    </div><!--//item-->

                    <div class="item">
                        <div><div style="font-size: 14px" style="font: bold">Web Development: </div>HTML, CSS, JavaScript</div>                         
                    </div><!--//item-->

                    <div class="item">
                        <div><div style="font-size: 14px" style="font: bold">Tools / Resources: </div>Bootstrap, Linux Commands, LabVIEW, Voltmeter, Oscilloscope, Soldering, Circuit Building &amp; Analysis</div>                                
                    </div><!--//item-->                    
                </div>  
            </section><!--//skills-section-->